
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.teamimages {
	max-width: 1000px;
	margin: 0 auto;
}

.row{
	display: table;
}

.person {
	display: table-cell;
    width: 240px;
    padding: 20px;
}

.person img {
    max-width: 100px;
    border-radius: 50px;
}

.name{
	font-weight: bold;
	font-size: medium;
}

.legend{
	max-width: 200px;
	font-size: small;
}

.nets img{
	max-width: 24px;
	border-radius: 12px;
}

.icon{
	width: 50px;
	margin-top: 20px;
}

#gsitesimg{
	height: 150px;
}

.section{
	text-align:center;
}

.section p{
    max-width: 900px;
    margin: 0 auto;
	font-size: 1.5em;
	text-align:justify;
}

h1{
	font-size: 3em;
}